server {
    listen 80;
    server_name _;
    root /usr/share/nginx/html;
    index index.html;
    resolver 127.0.0.11 valid=30s;

    location / {
        try_files $uri $uri/ @api;
    }

    location @api {
        proxy_pass ${API_UPSTREAM};
        include /etc/nginx/proxy_params;
    }
}
